/* BOTONES */
.contBotones {
  display: flex;
  justify-content: center;
}

.botonesForm {
  align-items: center;
  display: inline;
  width: 150px;
  background-color: $color-resaltador;
  cursor: pointer;
  font-size: 18px;
  padding: 5px 15px;
  color: $color-fuente-secundario;
  border-radius: 3px;
  transition: all 0.5s;
  border: none;
  margin: 5px 5px;
  font-weight: bold;

  &:hover {
    background-color: $color-resaltador;
    color: $color-fuente-primario;
  }
}

.botonEliminar {
  margin: auto;
  display: flex;
  align-items: center;
  color: $color-fuente-secundario;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  color: red;
}

.btnbotoncitos {
  background-color: $color-resaltador;
  color: $color-fuente-secundario;
  border: none;
  border-radius: 5px;
  margin: auto;
  padding: 5px 10px;
  cursor: pointer;
}