/* CONTACTO */
form {
  margin-top: 20px;
}

label {
  display: block;
  font-weight: bold;
  font-size: 20px;
}

input,
textarea {
  background-color: $color-fondo;
  display: block;
  width: 500px;
  border: 2px solid $color-fuente-primario;
  border-radius: 3px;
  margin-bottom: 10px;
  font-size: 20px;
}