/* FOOTER */
.logoSlv {
  display: flex;
  align-items: center;
  justify-content: start;
}

footer {
  border-top: 10px solid $color-resaltador;
  border-bottom: 10px solid $color-resaltador;

  img {
    width: 50px;
  }

  h3 {
    padding: 5px;
  }
}