/* GENERAL */

body {
  font-family: 'Caveat', cursive;
  font-weight: bold;
  background-image: url(../img/fondo-hoja.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  h3 {
    text-align: left;
    text-decoration: underline;
    padding: 20px;
    font-size: 30px;
  }
}