/* PRODUCTOS */
.productos {
  margin: 20px;
  text-align: center;
  @include contCard;
  background-color: $color-fondo;

  a img {
    width: 20px;
  }
}

.prodImg {
  width: 100%;
  border-radius: 5px 5px 0 0;
  object-fit: contain;
}