/* SUCURSALES */
.prin {
  display: block;
  padding: 20px;
}

.sucPrin {
  display: inline-block;
  font-size: 25px;
  text-align: left;
  width: 500px;
  height: 300px;
  margin: 20px;
}

iframe {
  width: 500px;
  height: 300px;
  display: inline-block;
}

img {
  width: 30px;
}

.sucPrin p {
  display: inline;
  font-size: 25px;
}